.score {
    color: #73ca90;
}

button {
    font-size: 18px;
    border-radius: 25px;
    font-family: 'dosis-bold';
    border: 2px solid #eef0f2;
}

#point:hover,
#point:focus {
    background-color: transparent;
    color: #c8d3dd;
    box-shadow: none;
}

#vote:focus {
    box-shadow: none;
};